@{
    ViewData["Title"] = "About";
}


<center>
    <h1>We are a Cap selling Company </h1>
    <h2>Based in Auckland</h2>
    <p>Company started in 2018 as a e-commerce website</p>
    <h2>that's all folks</h2>
    <br />
    <br/>
    <br/>
    <br />
</center>
